# VS Code
.vscode/
.history/

# GitHub Codespaces
.devcontainer/
*.code-workspace

# macOS
.DS_Store

# Linux
*~

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
.Python
env/
venv/
ENV/
build/
develop-eggs/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache/
.pytest_cache/
.tox/

# Logs
logs/
*.log

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Others
coverage/
*.cover
*.sqlite3
*.bak
*.swp
*.swo